body {
	background: green;
}

/*****************************************
************  about  *********************
******************************************/
#section-about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 100px 0;
	margin: 100px 0;
	
	border: solid;
	background: lightblue;
}

.profile_photo {
	border-radius: 50%;
}

/*****************************************
************  work  **********************
******************************************/

#section-work {
	border: solid;
	background: darkred;
	
	padding: 100px 0;
	margin: 100px 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.work-box {
	width: 300px;
	height: 350px;
	border: solid;
	margin: 10px;
}

.work-img {
	width: 100%;
	height: 85%;
}

.work_name {
	width: 100%;
	height: 15%;
}


.work_link {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	text-align: center;

}

/*****************************************
************  technologies  **************
******************************************/

#section-tech {
	border: solid;
	background: blue;

	padding: 100px 0;
	margin: 100px 0;


	display: flex;
	justify-content: center;
	align-items: center;
}

.tech_logo {
	width: 200px;
	height: 200px;
}

/*****************************************
************  certificate ****************
******************************************/

#section-certificate {
	border: solid;
	background: orange;

	padding: 100px 0;
	margin: 100px 0;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

}

.certificate {
	width: 400px;
	height: 400px;
	margin: 10px;
}


/*****************************************
************  contact ****************
******************************************/

#section-contact {
	background: blue;
	border: solid;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
	margin: 100px 0;
}

.contact-img {
	width: 100px;
	height: 100px;
	border: solid;
}

/*
body {
	background: green;
	margin: 0;
	margin-top: 20vh;
	display: flex;
	flex-direction: column;
	width: 100vw;
}

nav	{
	position: fixed;
	background: gray;
	width: 100vw;
	height: 10vh;
	top: 0;
}

nav ul{
	padding: 0;
	display: flex;
	background: pink;
	height: 100%;
	margin: 0;
}

nav ul li {
	padding: 0 50px;
	list-style: none;
}

nav ul a {
	text-decoration: none;
	color: grey;

}

nav ul a:hover {
	background: red

}

.section {
	width: 100vw;
	height: 100vh;
}

#section-about {
	background: blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

#section-work {
	background: yellow;

}

#section-contact {
	background: cyan;
}

.contact-img {
	width: 50px;
	height: 50px;
	border-radius: 100%;	
}

a {
	text-decoration: none;

}

.work-sec{
	border: solid;
	width: 100px;
	height: 100px;
}

#section-certificate {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding: 5px;
	background: darkgrey;
}

.certificate {
	width: 500px;
	height: 400px;
	margin: 5px;
}

.projects{
	width: 100%;
	height: 100%;
}

.profile_photo {
	border-radius: 50%;
}

.tech_logo {
	width: 150px;
	height: 100px;
}

#section-tech {
	background: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

*/